[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Crazy-Dog
[access "refs/for/refs/*"]
	read = group user/Crazy-Dog
	push = group user/Crazy-Dog
	label-Code-Review = -2..+2 group user/Crazy-Dog
	label-Verified = -1..+1 group user/Crazy-Dog
	rebase = group user/Crazy-Dog
	removeReviewer = group user/Crazy-Dog
	submit = group user/Crazy-Dog
[access "refs/heads/*"]
	read = group user/Crazy-Dog
	create = group user/Crazy-Dog
	push = +force group user/Crazy-Dog
	pushMerge = group user/Crazy-Dog
[access "refs/tags/*"]
	push = +force group user/Crazy-Dog
	pushTag = group user/Crazy-Dog
	pushSignedTag = group user/Crazy-Dog
